body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
    border: 1px solid #c9c9c9;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: black;
}

#textInput,
button {
    margin: 10px;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
}

#textInput {
    width: 200px;
    height: 100px;
    resize: vertical;
}

button {
    background-color: blue;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: darkblue;
}

#output {
    margin-top: 20px;
    padding: 10px 10px 10px 0px;
    background-color: lightblue;
    border-radius: 5px;
    text-align: left;
    font-size: 13px;
}

/* HTML: <div class="loader"></div> */
.loader {
    padding: 10px;
    font-weight: bold;
    font-family: monospace;
    font-size: 13px;

}

.loader:before {
    margin-left: 60px;
    content: "Generating questions.....";
    clip-path: inset(0 100% 0 0);
    animation: l5 2s steps(11) infinite;
}

@keyframes l5 {
    to {
        clip-path: inset(0 -1ch 0 0)
    }
}